.input-width {
    width: 100%;
}

.btn_red {
    background: rgb(204, 43, 94);
    padding: 15px 17px;
    color: #fff;
    margin: 60px auto 20px;
    transition: -webkit-transform .2s ease-in;
    font-size: 1.2rem;
    transition: transform .2s ease-in;
    border: none;
    overflow: hidden;
    text-indent: -3%;
    max-width: 100%;
}

.btn_red:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.radio {
    display: flex;
    max-height: 70px;
    align-items: center;
}

select {
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: Open Sans,sans-serif;
    margin: 10px 0;
}

option {
    background-color: rgb(78, 67, 118);
}

.single_branch_header {
    background: -webkit-gradient(linear, left top, right top, from(rgb(43, 88, 118)), to(rgb(78, 67, 118)));
    background: -webkit-linear-gradient(left, rgb(43, 88, 118), rgb(78, 67, 118));
    background: -o-linear-gradient(left, rgb(43, 88, 118), rgb(78, 67, 118));
    background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118));
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 1.8rem;
    border-radius: 5px;
    width: 50%;
    margin: 50px auto -177px auto;
    position: relative;
    padding: 10px;
}

.branch_container {
    display: flex;
    width: 90%;
    margin: 0 10%;
    position: relative;
}

.branch_display {
    min-width: 40%;
}

.result_pannel {
    display: flex;
    flex-direction: column;
}

.result {
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100;
    order: 1;
}
